body {
 margin: 0;
 padding: 0;
scroll-behavior: smooth;
direction: rtl;
}
#head {
    height: 100px;
    width: 100%;
    background: linear-gradient(rgba(50, 83, 67, 0.85), rgba(50, 83, 67, 0.85));
    font-family: 'Cairo', sans-serif;

}

/* menu */
.menu_span {
    display: none;
    
}
.h1-img {
    position: absolute;
    right: 3px;
    padding-top: 25px;

}
.h1-img img {
    width: 300px;
    height: 50px;
    object-fit: fill;
   
}
.nav {
    padding-top: 40px;
    margin-left: 90px;
    direction: ltr;
}

.nav ul {
display: inline;
}


.li {
    list-style: none;
    display: inline;
    margin-left: 10px;
    color: #fff;
}
.li:hover {
    cursor: pointer;
    transition: ease-in 400ms;
    border-bottom: #fff 1px solid;
   
}

/* whatsapp-head  */
.whatsapp-head {
    position: absolute;
    left: 26px;
    top: 26px;
}
.whatsapp-head img {
    width: 80px;
    height: 50px;
    object-fit: fill;

}
.whatsapp-head img:hover {
    cursor: pointer;
    transform:scale(1.1);  
    transition: ease 400ms;
    box-shadow: 0px 0px 90px 1px rgba(0, 0, 0, 10%);

}

/* 1 */
#section1 {
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(rgba(50, 83, 67, 0.85), rgba(50, 83, 67, 0.85)), url(https://raw.githubusercontent.com/mohamed404eg/hayaat-afdil/main/hero-bg.jpg);
    background-size: cover;
}

.divider-main {
    width: 100%;
    margin-top: -23px;
}

.h2-1{
text-align: center;
font-weight: 300;
font-size: 3rem;
line-height: 3.5rem;
letter-spacing: -0.02em;
color: #252625;
padding-top: 200px;
margin-top: 0;
color: #F5F7F5;
}
.p-1 {
    text-align: center;
    font-size: 20px;
    margin-right: 3%;
    margin-left: 3%;
    color: #F5F7F5;
}

.whatsapp-1 {
    position: absolute;
width: 100%;
margin-top: 90px;

}
.whatsapp-1 img {
    width: 80px;
    height: 50px;
    object-fit: fill;
    margin: 0 auto;
    display: block;

}
.whatsapp-span {
    position: absolute;
    text-align: center;
    margin-top: 40px;
    width: 100%;
    color: #78ff09;
    font-size: 20px;
    opacity: 0;
    transition: ease-in 400ms;
    animation-duration: 1s;
  animation-name: slidein;
  animation-iteration-count: infinite;
  animation-direction: alternate;

}
@keyframes slidein {
    0% {
      margin-top: 20px;
      
    }
    20% {
        margin-top: 10px;
       
      }
    50% {
        margin-top: 15px;
       
      }
    100% {
      margin-top: 0px;
     
    }
  }

.whatsapp-1 img:hover {
    cursor: pointer;
    transform:scale(1.1);  
    transition: ease 400ms;
}


/* section2 */
#section2 {
    height: 1000px;
    width: 100%;
    background: linear-gradient(180deg, #F7F0E6 60%, #FFFCF6 80%);
    margin-top: 100px;
}

.cover {
    content: '';
    position: absolute;
    height: 60px;
    width: 100%;
    border-radius: 50% 50% 0 0/100% 100% 0 0;
    background: #F7F0E6;
    margin-top: 40px;
}

.section2-h2 {
    text-align: center;
font-weight: 300;
font-size: 3rem;
line-height: 3.5rem;
letter-spacing: -0.02em;
padding-top: 200px;
margin-top: 0;
color: #252625;
}

.section2img {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    opacity: 0.5;
    position: relative;
    margin-bottom: 10px;
}
.section2imgmove {
    opacity: 1;
    transform: translateY(100px);
    transition: ease-in 400ms;

}

.img-section {
    width: 150px;
    height: 100px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 10%);
}
.section2-p {
    text-align: center;
    font-size: 20px;
    margin-right: 3%;
    margin-left: 3%;
    color: #333;
    display: block;
}
.section2-btn {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 50px;
    border: 2px solid #0099CC;
    border-radius: 5px;
    width: 200px;
    height: 30px;
    background: #fff;
    
}

.section2-btn:hover {
    transition: ease-in-out 500ms;
    background-color: #008CBA;     
        color: white; 
}
#footer {
    margin-top: 400px;
    height: 300px;
    width: 100%;
    background: linear-gradient(rgba(50, 83, 67, 0.85), rgba(50, 83, 67, 0.85));
}

.footerh3 {
    padding-top: 10px;
    margin-right: 2%;
    font-size: 25px;
    font-weight: 600;
    color: #fff;

}
.footerp {
    margin-right: 2%;
    font-weight: 400;
    color: #fff;
}

@media screen and (width <= 600px ) {

    /* menu */
    .menu_svg {
        width: 50px;
        height: auto;
        transition: ease-in-out 400ms;
    }
    .menu_svg_rotate{
        transform: rotate(150deg);
        transition: ease-in-out 400ms;
    }
    
    .menu_span {
        position: absolute;
        display: inline-block;
        z-index: 1;
        top: 20px;
        right: 5px;
    }
    .menu_span:hover {
        transform: scale(1.1);
    }

    .whatsapp-head {
        display: none;
    }

 
    
    #head {
        width: 100%;
        background: linear-gradient(rgba(50, 83, 67, 0.85), rgba(50, 83, 67, 0.85));
        font-family: 'Cairo', sans-serif;
    
        position: fixed;
        z-index: 2;
        
    }
    .headHeight {
        height: 100px;
    }
    .head_top {
        height: 100vh;
    }
    .nav {
        padding-top: 200px;
        margin-left: auto;
        margin-right: auto;
    width: 100%;
    height: 100vh;
    text-align: center;
    transform: translateX(100%);
    background: linear-gradient(rgba(50, 83, 67, 0.85), rgba(50, 83, 67, 0.85));
    background-color: #1900ff;

    }
    .nav_add {
        transform: translateX(0%);
        transition: ease-in-out 400ms;
    }

    .h1-img {
        position: absolute;
        right: auto;
        padding-top: 25px;
        z-index: 1;
        left: auto;
        width: 100%;
    }
    .h1-img img {
        width: 300px;
        height: 50px;
        object-fit: fill;
        margin: 0 auto;
        display: block;
    }
   
    .nav ul {
    display: flex;
    flex-flow: column;

    padding: 0;
    
 
   
    }
    
    
    .li {
        list-style: none;
        margin-left: auto;
        margin-right: auto;
        color: #fff;
        display: block;
        margin-top: 18px;
    }

    .section2-p {
        margin-top: 200px;
    }
    


}
@media screen and (width <= 320px ) { 
  
  
    .h1-img img {
        width: 200px;
    }

}
